# Intro a Pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Representación de Data Frame de Pandas

![dataframe](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

## Creación de un DataFrame

Una forma común de crear un DataFrame es mediante el uso de diccionarios en Python. En este contexto, las claves del diccionario representan las columnas del DataFrame, mientras que los valores asociados a estas claves representan las filas, siendo estos valores una lista o un arreglo de datos correspondientes a cada columna.

Este enfoque proporciona una manera conveniente de estructurar los datos para su posterior conversión en un DataFrame de pandas. Una vez creado, el DataFrame puede ser utilizado para realizar análisis de datos, manipulaciones y visualizaciones.

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female